/* VISTA RESPONSIVE CARRITO*/

@media screen and (max-width: 1400px) {
    .contenedor-shop {
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: 'Playfair Display', serif;
        height: 250vh;
        width: 95vw;
        display: grid;
        grid-template-columns: 2.5fr 4fr 4fr;
        grid-template-rows: 1fr 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr 3fr 0.5fr 3fr;
        column-gap: 1rem;
        grid-template-areas:
            "contenedor-shop-barra-lateral contenedor-shop-h1 contenedor-shop-h1"
            "contenedor-shop-barra-lateral contenedor-shop-cyb-h2 contenedor-shop-cyb-h2 "
            "contenedor-shop-barra-lateral item-cyb-1 ."
            "contenedor-shop-barra-lateral contenedor-shop-ep-h2 contenedor-shop-ep-h2"
            "contenedor-shop-barra-lateral item-ep-1 item-ep-2"
            "contenedor-shop-barra-lateral contenedor-shop-j-h2 contenedor-shop-j-h2"
            "contenedor-shop-barra-lateral item-j-1 item-j-2"
            "contenedor-shop-barra-lateral item-j-3 ."
            "contenedor-shop-barra-lateral contenedor-shop-p-h2 contenedor-shop-p-h2"
            "contenedor-shop-barra-lateral item-p-1 ."
    }
    .contenedor-shop article button{
        font-size: 1.2rem;
    }

}


@media screen and (max-width: 310px) {
    .contenedor-shop {
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: 'Playfair Display', serif;
        height: 250vh;
        width: 95vw;
        display: grid;
        grid-template-columns: 2.5fr 4fr;
        grid-template-rows: 1fr 0.5fr 3fr 0.5fr 3fr 3fr 0.5fr 3fr 3fr 3fr 0.5fr 3fr;
        column-gap: 1rem;
        grid-template-areas:
            "contenedor-shop-barra-lateral contenedor-shop-h1"
            "contenedor-shop-barra-lateral contenedor-shop-cyb-h2"
            "contenedor-shop-barra-lateral item-cyb-1"
            "contenedor-shop-barra-lateral contenedor-shop-ep-h2"
            "contenedor-shop-barra-lateral item-ep-1"
            "contenedor-shop-barra-lateral item-ep-2"
            "contenedor-shop-barra-lateral contenedor-shop-j-h2"
            "contenedor-shop-barra-lateral item-j-1"
            "contenedor-shop-barra-lateral item-j-2"
            "contenedor-shop-barra-lateral item-j-3"
            "contenedor-shop-barra-lateral contenedor-shop-p-h2"
            "contenedor-shop-barra-lateral item-p-1"
    }

    .contenedor-shop-h1 {
        font-size: x-large;
    }

    .contenedor-shop article button{
        font-size: 1rem;
    }
}

