@media screen and (max-width: 1155px) {
    .img-principal {
        background-image: url(../assets/img/imagenprincipal3.png);
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }
}