/* VISTA RESPONSIVE SERVICIOS */

@media screen and (max-width: 810px){
    .contenedor-servicios {
        display: grid;
        grid-template-rows: 1fr 4fr 4fr;
        grid-template-columns: 2fr;
        height: 100%;
        grid-template-areas:
        " servicios-h1"
        " item-servicios-1"
        "item-servicios-2"

    }
    .servicios-foto {
        width: 30rem;
    }

    .item-servicios-2{
        grid-area: item-servicios-2;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }

    .item-servicios-2 h2{
        font-size: 3rem;
    }

    .item-servicios-2 p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px){
    .servicios-foto {
        width: 20rem;
    }
}