/* fOOTER */
footer {
    background-color: rgb(235, 206, 232);
    height: 4rem;
    font-size: 0.8rem;
    text-align: right;
}

.instagram{
    height: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
