@import "../utilities/variables.scss";

body header div {
    background-color: rgb(235, 206, 232);
    font-size: 2.5rem;
    font-family: $fuente;
    font-weight: bold;
    height: 7rem;
    width: 100%;
    z-index: 10;

    .navbar-nav{
        background-color: rgb(235, 206, 232);
        .nav-a {
            text-decoration: none;
            color: rgb(177, 10, 155) !important;
            }
            a:hover {
                text-decoration: none;
                color: rgb(115, 87, 240) !important;
                }
    }
    .logo-nav{
        width:8rem;
        height:6rem;
        border-radius:  10px;
    }
    }

